<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>manage</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SessionImg</display-name>
    <servlet-name>SessionImg</servlet-name>
    <servlet-class>com.hrManage.sessionImg.SessionImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionImg</servlet-name>
    <url-pattern>/sessionImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hrManage.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelServlet</display-name>
    <servlet-name>ExcelServlet</servlet-name>
    <servlet-class>com.hrManage.poi.ExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelServlet</servlet-name>
    <url-pattern>/excel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.hrManage.manager.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/hrManage/manager.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartServlet</servlet-name>
    <servlet-class>com.hrManage.depart.DepartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartServlet</servlet-name>
    <url-pattern>/hrManage/depart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.hrManage.employee.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/hrManage/employee.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChecklServelt</servlet-name>
    <servlet-class>com.hrManage.checkl.ChecklServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChecklServelt</servlet-name>
    <url-pattern>/hrManage/checkl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.hrManage.pay.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/hrManage/pay.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PositionServlet</display-name>
    <servlet-name>PositionServlet</servlet-name>
    <servlet-class>com.hrManage.position.PositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionServlet</servlet-name>
    <url-pattern>/hrManage/position.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.hrManage.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login.jsp</url-pattern>
    <url-pattern>/main.html</url-pattern>
    <url-pattern>/hrManage/*</url-pattern>
  </filter-mapping>
</web-app>